<!DOCTYPE html>
<html lang="en">
  <%- include('../views/components/head/head.ejs') -%>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <div class="h1 py-4">
                    <a
                      class="
                        sidebar-brand
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                      href="/"
                    >
                      <div class="sidebar-brand-icon">
                        <i class="fas fa-store text-primary"></i>
                      </div>
                      <div class="sidebar-brand-text mx-3 text-primary">
                        Shopie<sup></sup>
                      </div>
                    </a>
                  </div>
                  <h1 class="h4 text-gray-900 mb-4">
                    Before we continue, please select what you like.
                  </h1>
                </div>

                <div class="col-md-12 mx-auto">
                  <div class="card-deck py-3">
                    <% for (var i = 0; i < interests.length; i++) { %>
                    <div class="card">
                      <img
                        class="card-img-top"
                        style="
                          max-height: 300px;
                          max-width: 100%;
                          object-fit: cover;
                        "
                        src="<%= interests[i].imgUrl %>"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center">
                          <%= interests[i].name %>
                        </h5>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
                <hr />
                <div class="row mx-auto w-50">
                  <form action="" method="POST">
       
                    <% for (var j = 0;j<interests.length; j++) {%>
                      <input
                        type="submit"
                        class="w-100 btn btn-lg btn-primary align-self-center"
                        id="interests"
                        name="interests"
                        placeholder="Interests"
                        value="<%= interests[j].id %>"
                      />
                    <% }%>
                
                    </form>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts-->
    <%- include('../views/components/scripts/scripts.ejs') -%>
  </body>
</html>
