<!DOCTYPE html>
<html lang="en">
  <%- include('../views/components/head/head.ejs') -%>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include('../components/sidebar/sidebar.ejs') -%>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->

          <%- include('../views/components/navbar/navbar.ejs') %>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid my-5">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Orders</h1>
            </div>

            <%- include('../views/components/orders/customer.ejs') -%> <%-
            include('../views/components/orders/shop.ejs') -%>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include('../views/components/scrollToTop/scrollToTop.ejs') -%>
    <!-- Logout Modal-->
    <%- include('../views/components/logout/logout.ejs') -%>
  </body>
</html>
