<!DOCTYPE html>
<html lang="en">
  <%- include('../views/components/head/head.ejs') -%>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">My Dashboard</a>
                </li>
              </ul>
              <div>
                <button type="button" class="btn btn-primary">
                  <a href="/login">Sign In</a>
                </button>
                <button type="button" class="btn btn-light">
                  <a href="/register">Sign Up</a>
                </button>
              </div>
            </div>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                Search Results for <%= name %>
              </h1>
            </div>

            <!-- Content Row -->
            <h2>Shops</h2>
            <% for (var i = 0; i < shops.length; i++) { %>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-success text-uppercase mb-1"
                      >
                        <%=shops[i].username %>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <a href="/user/<%=shops[i]._id %>"
                          ><%=shops[i].fullName %></a
                        >
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <h2>Products</h2>
            <div class="my-4">
              <div class="d-flex flex-wrap justify-content-start">
                <% for (var i = 0; i < products.length; i++) { %>
                <div class="card col-md-2 mr-2 mb-2">
                  <img
                    class="card-img-top"
                    src="<%= products[i].imageUrls[0] %>"
                    alt="Card image cap"
                    style="
                      max-height: 250px;
                      height: 250px;
                      width: 100%;
                      object-fit: contain;
                    "
                  />
                  <div class="card-body">
                    <h5
                      class="card-title"
                      style="
                        display: block;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        max-height: 3.6em;
                        line-height: 1.2em;
                      "
                    >
                      <a href="/item/<%= products[i].id %>"
                        ><%= products[i].name %></a
                      >
                    </h5>
                    <p
                      class="block card-text"
                      style="
                        display: block;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        max-height: 7.2em;
                        line-height: 1.8em;
                      "
                    >
                      <%= products[i].shortDesc %>
                    </p>
                    <a
                      href="/item/<%= products[i].id %>"
                      class="btn btn-primary w-100 text-white"
                      >See More</a
                    >
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include('../views/components/scrollToTop/scrollToTop.ejs') -%>
    <!-- Logout Modal-->
    <%- include('../views/components/logout/logout.ejs') -%>

    <!-- Scripts-->
    <%- include('../views/components/scripts/scripts.ejs') -%>
  </body>
</html>
