<!DOCTYPE html>
<html lang="en">
  <%- include('../views/components/head/head.ejs') -%>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include('../views/components/sidebar/shopSidebar.ejs') -%>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../views/components/navbar/navbar.ejs') %>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800"><%=user.username %></h1>
              <a
                class="nav-link collapsed d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                href="#"
                data-toggle="modal"
                data-target="#addItemModal"
              >
                <i class="fas fa-plus fa-sm fa-fw mr-2 text-white"></i>
                <span class="text-white">Add New Product</span>
              </a>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Revenue (Total)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          $<%=user.revenue %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Number of Products
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=nrItems %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-info text-uppercase mb-1"
                        >
                          Number of Orders
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=nrOrders %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-clipboard-list fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pending Requests Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                        >
                          Completed Orders
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%=nrCompleted %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-check fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->

        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include('../views/components/scrollToTop/scrollToTop.ejs') -%>
    <!-- Add Product Modal-->
    <%- include('../views/components/forms/item/addItem.ejs') -%>

    <!-- Logout Modal-->
    <%- include('../views/components/logout/logout.ejs') -%>

    <!-- Scripts-->
    <%- include('../views/components/scripts/scripts.ejs') -%>

    <script src="socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/shop.js"></script>
    <!-- Notify.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
  </body>
</html>
